name: Deploy theme3 to GoDaddy (Managed WP)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository Code
        uses: actions/checkout@v4

      - name: Deploy via GoDaddy WordPress Deployer
        uses: godaddy-wordpress/gd-wordpress-deployer@v1
        with:
          remote_host: "f5c.541.myftpupload.com"
          ssh_user: "git_deployer_d192c4bdf1_972183"
          ssh_private_key: ${{ secrets.PRIVATE_KEY }}
          deployment_dest: "html/wp-content/themes/theme3/"
